@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#data-table {
    /* width: 100%; */
    border-collapse: collapse;
    border-radius: 20px;
    width: 100% !important;
    font-family: Poppins-Regular;
}

#data-table td {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    /* text-align:; */
}

#data-table tr:hover {
    background-color: aliceblue;
    transition: all 0.2s ease-in-out;
}

#data-table th {
    font-size: 18px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #3B3B98;
    /* border-radius: 20px; */
    color: white;
    text-align: center;
}

#data-table th:hover {
    /* background-color: #1f4a78; */
    background-color: #272777;
    transition: all 0.2s ease-in-out;
}

.myContainer {
    /* max-width: 100vw; */
    border-radius: 20px;
}

.wrapper {
    border-radius: 20px;
    margin-top: 40px;
}